.form-container {
  width: 60%;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}

.form {
  display: flex;
}

.model-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.field-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  border-color: burlywood;
  border-radius: 5px;
  color: blueviolet;
  background-color: whitesmoke;
  padding: 10px;
}
